Django==6.0.3
channels==4.3.2
daphne==4.2.1
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3
autobahn==25.12.2
attrs==26.1.0
Twisted==25.5.0
zope.interface==8.2
cryptography==46.0.5
cffi==2.0.0
pyOpenSSL==26.0.0
service-identity==24.2.0
requests==2.32.5
urllib3==2.6.3
charset-normalizer==3.4.6
idna==3.11
certifi==2026.2.25
pillow==12.1.1
gunicorn==23.0.0
whitenoise==6.9.0
django-allauth==65.2.0
PyJWT==2.10.1
cloudinary==1.42.1
django-cloudinary-storage==0.3.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10
